@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    border: 0;
}
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}                  /*убирает крестик в форме в internet explorer*/
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    font-family: 'lato';
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

/* Header styles start*/
.header {
    color: #FFF;
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.container-header {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    padding-top: 62px;
}

.container-header__nav__list {
    display: flex;
    flex-wrap: wrap;
}

.container-header__nav__list li {
    margin-right: 82px;
}

.container-header__nav__list li:last-child {
    margin-right: 0;
}

.container-header__nav__list li:hover, .container-header__nav__list li:focus, .container-header__nav__list li:active {
    opacity: 0.75;
    cursor: pointer;
}
/* Header styles end */


/* Intro styles  start*/
.intro {
    min-height: 100vh;
    background: url(../img/itro.png) no-repeat center;
    background-size: cover;
    padding-bottom: 376px;
}

.intro-title {
    max-width: 619px;
    padding-top: 263px;
    margin-bottom: 22px;
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
}
.intro-subtitle {
    margin-bottom: 59px;
    max-width: 546px;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
}
.intro-form {
    display: flex;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}


.intro-form__radio {
    margin-right: 23px;
    width: 20px;
    height: 20px;
    background: transparent;
    background-color: transparent;
}

.intro-form__left {
    width: 297px;
    display: flex;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 61px;
    align-items: center;
}

.intro-form__right {
    width: 297px;
    display: flex;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 61px;
    align-items: center;
}

.intro-button {
    background-color: #1B7DFF;
    padding: 15px 39px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}

.intro-button:hover {
    background-color: #1760c0;
}
/* Intro styles end */


/* Benefits styles start*/
.Benefits-wrap {
    max-width: 1262px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
    position: relative;
    margin-bottom: 131px;
}

.Benefits-title {
    color: #102746;
    font-size: 35px;
    font-weight: 500;
    padding: 93px 0px 93px 99px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
    width: 100%;
    line-height: 42px;
}

.Benefits-wrap__cards {
    display: flex;
    padding: 32px 100px 112px 100px;
}
.Benefits-wrap__cards__card {
    max-width: 317px;
    margin-right: 55px;
}

.Benefits-wrap__cards__card:last-child {
    margin-right: 0px;
}

.Benefits-wrap__cards__card__church {
    margin-bottom: 38px;
    max-width: 66px;
    max-height: 66px;
}

.Benefits-wrap__cards__card__person {
    margin-bottom: 38px;
    max-width: 66px;
    max-height: 66px;
}

.Benefits-wrap__cards__card__building {
    margin-bottom: 38px;
    max-width: 66px;
    max-height: 66px;
}

.Benefits-wrap__cards__card__title {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 27px;
}

.Benefits-wrap__cards__card__subtitle {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.Benefits-wrap__cards__card__more {
    max-width: 161px;
    background: url(../img/Benefits/arrow.png) no-repeat 95%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: 0.2s;
}

.Benefits-wrap__cards__card__more a {
    color: #006DFE;
}

.Benefits-wrap__cards__card__more:hover {
    background: url(../img/Benefits/arrow.png) no-repeat 100%;
}
/* Benefits styles end */


/* Places styles start */
.places {
    max-width: 1262px;
    margin: 0 auto 131px;
    min-height: 100%;
}
.places-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 46px;
    align-items: center;
    margin-bottom: 7px;
}
.places-top__title {
    color: #102746;
    font-size: 35px;
    font-weight: 500;
}
.line {
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    margin-bottom: 36px;
}
.places-top__view {
    color: #006DFE;
    font-size: 16px;
    background: url(../img/places/icons/arrow.png)no-repeat right;
    padding-right: 59px;
}
.places-top__view:hover {
    opacity: 
    0.65;
}

.places-cards__top h2 {
    padding-top: 267px;
    padding-left: 29px;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
}
.places-cards__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.places-cards__top__left {
    width: 50%;
    height: 354px;
    background: url(../img/places/Imagetop-left.png) center no-repeat;
    margin-right: 5px;
}
.places-cards__top__right {
    width: 50%;
    height: 354px;
    background: url(../img/places/Imagetop-right.png) center no-repeat;
    margin-left: 5px;
}
.places-cards__bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}
.places-cards__bottom h2 {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    bottom: 27px;
    padding-left: 31px;


}
.places-cards__bottom__left {
    width: 33.33333%;
    height: 243px;
    background: url(../img/places/Objectbottom-left.png) center no-repeat;
}
.places-cards__bottom__center {
    width: 33.33333%;
    height: 243px;
    background: url(../img/places/Objectbottom-center.png) center no-repeat;
}
.places-cards__bottom__right {
    width: 33.33333%;
    height: 243px;
    background: url(../img/places/Objectbottom-right.png) center no-repeat;
}
.card {
    transition: 0.5s;
}
.card:hover {
    /* transform: scale(1.05);
    margin: 3px; */
    background-size: 115%;
}
.card-link {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* Places styles end */


/* Prefecture in Focus styles start */
.Prefecture {
    width: 1262px;
    margin: 0 auto 107px;
    height: 785px;
}
.Prefecture-top {
    display: flex;
    margin-bottom: 55px;
}
.Prefecture-top__image {
    margin-right: 108px;
}

.Prefecture-top__text__title {
    color: #102746;
    font-size: 30px;
    font-weight: 500;
    padding-top: 26px;
    padding-bottom: 85px;
}
.Prefecture-top__text__text {
    color: #102746;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 58px;
}
.Prefecture-top__text__link {
    color: #006DFE;
    font-size: 16px;
    background: url(../img/prefecture/Shapearrow.png) right no-repeat;
    padding-right: 59px;
    transition: 0.2s;
}
.Prefecture-top__text__link:hover {
    padding-right: 64px;
}
.Prefecture-bottom {
    display: flex;
}

.Prefecture-bottom__text__title {
    color: #102746;
    font-size: 30px;
    font-weight: 500;
    padding-top: 48px;
    padding-bottom: 45px;
}
.Prefecture-bottom__text__text {
    color: #102746;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 94px;
}
.Prefecture-bottom__text__link {
    color: #006DFE;
    font-size: 16px;
    background: url(../img/prefecture/Shapearrow.png) right no-repeat;
    padding-right: 59px;
    transition: 0.2s;
}
.Prefecture-bottom__text__link:hover {
    padding-right: 64px;
}
.Prefecture-bottom__image {
    margin-left: 108px;
}
/* Prefecture in Focus styles end */


/* top places styles start */
.top-places {
    width: 1262px;
    margin: 0 auto;
    height: 100%;
}
.top-places__title {
color: #102746;
font-size: 35px;
font-weight: 500;
margin-bottom: 7px;
}
.top-places__line {
width: 253px;
height: 3px;
background-color: #006DFE;
margin-bottom: 36px;
}

.top-places__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top-places__cards__card {
    margin-bottom: 69px;
    max-width: 391px;
    display: flex;
    flex-direction: column;
}
.top-places__cards__card__img {
    position: relative;
    margin-bottom: 45px;
}
.top-places__cards__card__img > img {
    width: 100%;
}
.top-places__cards__card__stats {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    background: rgba(21, 24, 36, 0.60);
}
.top-places__cards__card__stats__title {
    padding: 16px 25px;
    margin: 0 auto 0 0;
}
.top-places__cards__card__stats__likes {
    padding-right: 20px;
    background: url(../img/top-places/icons/Shapelike.png) right no-repeat;
    margin-right: 14px;
}
.top-places__cards__card__stats__comments {
    padding-right: 21px;
    background: url(../img/top-places/icons/Shapemessege.png) right no-repeat;
    margin-right: 25px;
}
.top-places__cards__card__text {
    color: #102746;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 43px;
}
.top-places__cards__card__more__link {
    padding: 12px 19px;
    background-color: #006DFE;
    color: #FFF;
    font-size: 16px;
}
.top-places__cards__card__more{
    margin: auto 0 0 0;
}
.top-places__cards__card__more__link:hover {
    background-color: #1760c0;
}
/* top places styles end */

/* videos styles start */
.videos {
    width: 100%;
}
.videos-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.videos-wrapper__item {
    padding-top: 56.25%;
    /* пропорция видео 9х16, пропорция padding-top = 9/16*100; */
}
.videos-wrapper__value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* videos styles end */


/* footer styles start */
.footer {
    width: 100%;
}
.footer-wrapper {
    margin: 0 auto;
    background: #0e1d28;
}
.footer-container {
    max-width: 1060px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 76px 0px;
    align-items: center;

}
.footer-container__logo {
    width: 50%;
}
.footer-container__nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0.8;
}
.footer-container__nav__company li {
    margin-bottom: 4px;
}
.footer-container__nav__company a {
    color: #FFF;
    font-size: 16px;
}
.footer-container__nav__title {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}
.footer-container__nav__link:hover {
    opacity: 0.8;
}
/* footer styles end */